section.about.sector#about(data-sector='0')
	.hints
		.hint--01 о нас
		.hint--02 не только привозим
		.hint--03 высокие компетенции
	.container
		.about__row 
			.about__undertext Наша компания —<br/> это в первую очередь
			.about__title 
				h1.title-1 инжиниринговая компания
		.about__wrapper-text
			.about__subtext Мы помогаем подобрать оборудование, расходные материалы и технологии для существующего или для запуска нового производства.
			.about__btn.btn Рассчитать стоимость