section.sector.benefits#benefits(data-sector='2')
	.hints
		.hint--01 продукция
		.hint--02 оборудование и запчасти
		.hint--03 разные направления промышленности
	.benefits__slider 
		include benefits-slider
	.benefits__wrapper
		.benefits__btn.btn оставить заявку
		.controls 
			button.controls-btn.prev#b-prev
			button.controls-btn.next#b-next