section.sector.category#category(data-sector='3')
	.hints
		.hint--01 запущенные проекты и поставленное оборудование
		.hint--02 
		.hint--03 
	.container 
		.category__row 
			.category__col
				.category__sl.category__sl-1
					include slides-category/slider-1/category__slider-1
					.category__scrollbar.category__scrollbar-1
				.category__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
			.category__col
				.category__sl.category__sl-2
					include slides-category/slider-2/category__slider-2
					.category__scrollbar.category__scrollbar-2
				.category__sl.category__sl-3
					include slides-category/slider-3/category__slider-3
					.category__scrollbar.category__scrollbar-3
			.category__col
				.category__sl.category__sl-4
					include slides-category/slider-4/category__slider-4
					.category__scrollbar.category__scrollbar-4
				.category__sl.category__sl-3
					include slides-category/slider-5/category__slider-5
					.category__scrollbar.category__scrollbar-5