section.sector.categories#categories(data-sector='1')
	.hints
		.hint--01 
			a(href="#!") проверенный таможенный брокер в Китае
		.hint--02 более 20 отгрузок оборудования в прошлом месяце
		.hint--03 
			a(href="#!") скачать опросный лист
	.container 
		.categories__row 
			.categories__card 
				.categories__img 
					img(src="./../../img/categories/01.png", alt="cat")
				.categories__title Роторные дробилки
				.categories__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
				.categories__btn.btn оставить заявку
			.categories__card 
				.categories__img 
					img(src="./../../img/categories/02.png", alt="cat")
				.categories__title Конусные дробилки
				.categories__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
				.categories__btn.btn оставить заявку
			.categories__card 
				.categories__img 
					img(src="./../../img/categories/03.png", alt="cat")
				.categories__title Шнековые дробилки
				.categories__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
				.categories__btn.btn оставить заявку
			.categories__card 
				.categories__img 
					img(src="./../../img/categories/03.png", alt="cat")
				.categories__title Шнековые дробилки
				.categories__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
				.categories__btn.btn оставить заявку
			.categories__card 
				.categories__img 
					img(src="./../../img/categories/02.png", alt="cat")
				.categories__title Конусные дробилки
				.categories__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
				.categories__btn.btn оставить заявку
			.categories__card 
				.categories__img 
					img(src="./../../img/categories/01.png", alt="cat")
				.categories__title Роторные дробилки
				.categories__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
				.categories__btn.btn оставить заявку
			.categories__card 
				.categories__img 
					img(src="./../../img/categories/01.png", alt="cat")
				.categories__title Роторные дробилки
				.categories__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
				.categories__btn.btn оставить заявку
			.categories__card 
				.categories__img 
					img(src="./../../img/categories/03.png", alt="cat")
				.categories__title Шнековые дробилки
				.categories__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
				.categories__btn.btn оставить заявку
			.categories__card 
				.categories__img 
					img(src="./../../img/categories/02.png", alt="cat")
				.categories__title Конусные дробилки
				.categories__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
				.categories__btn.btn оставить заявку 
		.more.active Показать еще 10	