section.equipments
	.hints
		.hint--01 продукция
		.hint--02 оборудование и запчасти
		.hint--03 разные направления промышленности
	.container
		include equipments/equipment--01
		include equipments/equipment--02
		.more#equipments-more Показать еще 2