footer.sector.footer#footer(data-sector='4')
	.container
		.footer__row
			.footer__header
				.footer__left
					.footer__tel
						a(href="tel:88000000000") 8 (800) 2000-600
				.footer__right.footer__right--right
					.footer__mail
						a(href="mailto:sale@site.ru") Sale@site.ru
					.footer__btn.btn оставить заявку
			.footer__body 
				.footer__left
					.footer__logo 
						img(src="./img/icon/logo-fixed.svg", alt="logo")
					.footer__text Дробильно-сортировочное оборудование и комплектующие
				.footer__right 
					ul.footer__nav 
						li.footer__item 
							a(href="index.html#about") О компании
						li.footer__item 
							a(href="#!") Поставляемое оборудование
						li.footer__item 
							a(href="#!") Наши принципы
						li.footer__item 
							a(href="#!") Оставить заявку
					ul.footer__refs
						li.footer__item 
							a(href="#!") Скачать референс лист
						li.footer__item 
							a(href="#!") Скачать реквизиты
