.mobile-nav
	a.mobile__logo(href="index.html") 
		img(src="./../../img/icon/logo-fixed.svg", alt="logo")
	ul.mobile-nav__list 
		li
			a.active(href="index.html#about" ).mobile__link О компании
		li
			a(href="category-page.html#categories" ).mobile__link Каталог оборудования
		li
			a(href="#benefits" ).mobile__link Преимущества
		li
			a(href="#category" ).mobile__link Последние поставки
		li
			a(href="#footer" ).mobile__link Контакты
	.mobile__contacts
		a(href='mailto:mail@mail.ru') sale@site.ru
		a.mobile__tel(href='tel:8900000000') 8 (800) 2000-600
	.mobile__btn.btn оставить заявку
	.mobile-nav-btn--close.close
		.nav-icon.nav-icon--active
