html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow-y: hidden;
}

body {
  background-color: var(--white);
  font-family: var(--font-main);
  color: var(--black);
  font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
  scrollbar-width: thin;
  scrollbar-color: var(--accent) red;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(40, 40, 40, 0.4);
  }
  &:-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 2px;
  }
}
 

a {
  color: var(--black);
  font-weight: 600;
  transition: color 0.2s ease-in;
}

.title-1 {
  color: var(--black);

  font-size: clamp(25px, 0.443rem + 6.17vw, 96px);
  font-style: normal;
  font-weight: 700;
  line-height: clamp(36px, 1.345rem + 5.17vw, 96px);
  text-transform: uppercase;
}

.title-2 {
  color: var(--black);
  font-size: clamp(24px, 1.138rem + 2.07vw, 48px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.083;
  letter-spacing: -0.96px;
  text-transform: uppercase;

  span {
    color: rgba(40, 40, 40, 0.4);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  position: relative;
  padding: 12px 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 50;

  border-radius: 99px;
  background: var(--accent);
  color: var(--white);

  backdrop-filter: blur(20px);
  transition: filter 0.2s ease-in;

  &::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(./../img/icon/arrow-btn.svg);
  }

  &:hover {
    filter: contrast(150%);
  }

  &:active {
    top: 1px;
  }
}


.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.controls-btn {
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  position: relative;
  transition: background 0.2s ease-in;

  &:hover {
    background: rgba(255, 255, 255, 0.8);
  }
}

.controls-btn.prev::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  background-image: url(./../img/icon/arrow.svg);
  border-radius: 50%;
}

.controls-btn.next::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./../img/icon/arrow.svg);
  border-radius: 50%;
}

.hints {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  margin-bottom: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  color: var(--black);
  font-size:  clamp(12px, 0.69rem + 0.34vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.125;
  opacity: 0.4;
}

.more {
  width: 100%;
  padding: 15px 16px;
  text-align: center;
  cursor: pointer;

  border-radius: 99px;
  background: rgba(40, 40, 40, .08);
}

// .more.active {
//   width: 100%;
//   padding: 15px 16px;
//   text-align: center;
// }


@media (max-width: 786px) {
  .btn {
    font-size: 12px;
  }
}

@media (max-width: 424px) {

  .hints {
    justify-content: space-around;
    align-items: start;
    top: 20px;
    left: 15px;
    right: 15px;
    gap: 8px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hint--01,
  .hint--02,
  .hint--03 {
    text-align: center;
  }

  // .hint--01 {
  //   width: 100%;
  // }

  // .hint--02 {
  //   width: 100%;
  //   text-align: center;
  // }

  // .hint--03 {
  //   width: 100%;
  //   text-align: right;
  // }
}
