section.equipment
	.equipment__row
		.equipment__text
			.equipment__title
				h2.title-2 Дробильно-сортировочное<br/> оборудование<br/> <span>и комплектующие</span>
			.equipment__subtitle Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
			.equipment__table 
				.equipment__cell
					.equipment__desc Производительность
					.equipment__val от 12 т/ч
				.equipment__cell
					.equipment__desc Материалы
					.equipment__val Рудные, не рудные
			.equipment__btn.btn Вся продукция
		.equipment__img 
			include ../images/images--01