.b-slide.b-slide--01
	.container
		.b-slide__wrapper
			.b-slide__title 
				p Подготовим<br> предложение</br> за 5 дней
			.b-slide__img-wrapper
				.b-slide__number 01
				.b-slide__img 
					img(src="./../../../img/benefits/01-s.jpg", alt="")